
body {
    background-image: url("Images/Hintergrund.jpg");
    background-size: cover;
}
#Box1 {
    background-color: rgba(128, 128, 128, 0.5);
}
#Box2 {
    background-color: rgba(128, 128, 128, 0.5);
}
#Box3 {
  background-color: rgba(128, 128, 128, 0.5);
}
#Box4 {
    background-color: rgba(67, 99, 114, 0.76);
}
#Box5 {
  background-color: rgba(67, 99, 114, 0.76);
}
#Box6 {
  background-color: rgba(67, 99, 114, 0.76);
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgba(128, 128, 128, 0.7);
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 2.5rem;            /* Footer height */
  }